name: Build
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'
      - name: Build
        run: dotnet publish --configuration Release --self-contained false --runtime win-x86 /p:PublishSingleFile=true
      - name: Zip output file
        run: Compress-Archive -Path ./bin/Release/net7.0-windows7.0/win-x86/publish/Launcher.exe -DestinationPath Launcher.zip
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Launcher
          path: Launcher.zip
